strong {
    color: #11495E !important;
}

.strong-custom-users {
    color: #F44B90;
}
.strong-custom {
    color: #F44B90 !important;
}

.link-color {
    color: #F44B90;
}


.btn-outline-custom {
    color: #0EA5DA !important;
    border-color: #0EA5DA !important;
    background-color: transparent !important;
    transition: background-color 0.3s ease !important;
}

.btn-outline-custom:hover {
    color: #FFF !important;
    background-color: #0EA5DA !important;
}

.navbar-nav .nav-link {
    color: #11495E !important;
}

.navbar-nav .nav-link:hover {
    color: #258ca5 !important;
}

.dropdown-item {
    color: #11495E !important;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #11495E !important;
}


/*.form-control {*/
/*    border-color: #F44B90 !important;*/
/*}*/

/*.form-control:focus {*/
/*    border-color: #F44B90 !important;*/
/*    box-shadow: 0 0 0 0.2rem rgba(244, 75, 144, 0.25) !important;*/
/*}*/


.form-control {
    border-color: #0EA5DA !important;
}

.form-control:focus {
    border-color: #0EA5DA !important;
    box-shadow: 0 0 0 0.2rem rgba(14, 165, 218, 0.25) !important;
}




.btn-primary {
    background-color: #F44B90 !important;
    border-color: #F44B90 !important;
}

.btn-primary:hover {
    background-color: #e63a7e !important;
    border-color: #e63a7e !important;
}

.card {
    border-color: #0EA5DA !important;
}
.card-title.h4 {
    color: #11495E !important;
}

h2, h5, h4 {
    color: #11495E !important;
}


/*
Parte que modifiquei das cores dos comentários quando não existem
 */

